* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Hurricane', cursive; */
  font-family: "Open Sans", sans-serif;
}


 #blackPart{
    background-color: #1F2428;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
   
 }

 #blackPart> *{ 
    margin: 1rem;

 }


  .title{
   font-family: 'Hurricane', cursive; 
   display: block;
  }

  #secondTitle{
    color: aliceblue;
    height: 35%;
    font-size: 8em;
  }

  #thirdTitle{
    color: rgb(2, 21, 38);
    height: 35%;
    font-size: 8em;
  }

div> .darkBoxText{
margin: 1em;
}
  .darkBoxText{
    color: aliceblue;
  }

  .imgesContainer{
    display: inline-flex;
    flex-flow: row wrap;
  }

  #firstDeal{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
  }

  #secondDeal{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
  }

  .containerWhite{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .containerWhite > * {
    margin: 2rem;
  }

  .textBox{
    display: flex;
    flex-direction: row;
  }

  .alexImg{
    width: 500px;
    height: 500px;
  }

  .btn{
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
  }

  #blackPart > .btn{
    border-radius: 13px;
  }
 

#footer-title {
  background-color: #1F2428;
}

.title-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 380;
}

.pasta-title {
  font-weight: 800;
}